/* Fullscreen loader */
.loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right top,
        #84cdfa,
        #6dbbf1,
        #58a9e8,
        #4496de,
        #3484d4,
        #2b78cd,
        #256cc6,
        #2260be,
        #2158b9,
        #214fb3,
        #2346ad,
        #263da7
    );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top */
}

/* Custom Spinner Styling */
.logcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 300px; /* Increased size, bigger than logo */
    width: 300px; /* Increased size, bigger than logo */
    animation: rotate_3922 1.2s linear infinite;
    background-color: #263da7;
    background-image: linear-gradient(#263da7, #84cdfa, #5ad1cd);
}

.logcontainer span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #263da7;
    background-image: linear-gradient(#263da7, #84cdfa, #5ad1cd);
}

.logcontainer span:nth-of-type(1) {
    filter: blur(5px);
}

.logcontainer span:nth-of-type(2) {
    filter: blur(10px);
}

.logcontainer span:nth-of-type(3) {
    filter: blur(25px);
}

.logcontainer span:nth-of-type(4) {
    filter: blur(50px);
}

.logcontainer::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
}

/* Spinner animation */
@keyframes rotate_3922 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Logo customization */
.loaderlogo {
    position: absolute;
    width: 160px; /* Smaller logo than the spinner */
    height: 160px; /* Smaller logo than the spinner */
    z-index: 2; /* Place it above the spinner */
    top: 51%; /* Control the vertical position */
    left: 50%; /* Control the horizontal position */
    transform: translate(-50%, -50%); /* Adjust to center the logo */
    image-rendering: pixelated; /* Optional, helps to prevent any blurring */
}

/* Responsive settings for smaller screens */
@media (max-width: 320px) {
    .logcontainer {
        height: 250px; /* Increased size, bigger than logo */
         width: 250px; /* Increased size, bigger than logo */
    }
    .loaderlogo {
        width: 150px;
        height: 150px; /* Ensure the logo is proportional */
    }
}
